TD {
	FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: ו
}
A:link {
	FONT-SIZE: 9pt; LINE-HEIGHT: 120%; FONT-FAMILY: ו; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 9pt; LINE-HEIGHT: 120%; FONT-FAMILY: ו; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
